<!DOCTYPE html>
<html lang="en">

<head>

	<!-- Bootstrap -->

	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	 crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
	 crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl"
	 crossorigin="anonymous"></script>

	<!-- Other Links -->

	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
	<!-- <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}"> -->

</head>

<body>
	<div class="container">

		<!-- Navbar -->

		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="/">Catalog App</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02"
			 aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarColor02">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
					</li>
				</ul>
				<form class="form-inline my-2 my-lg-0">
					{%if 'username' not in session %}
					<a class="btn btn-success my-2 my-sm-0" href="{{url_for('showLogin')}}">Login</a>
					{% else %}
					<a class="btn btn-danger my-2 my-sm-0" href="{{url_for('disconnect')}}">Logout</a>
					{% endif %}
				</form>
			</div>
		</nav>

		<!-- Other pages content -->

		<div class="jumbotron py-3">
			{% block content %}
			{% endblock %}
		</div>
	</div>
</body>

</html>